# Elisp byte code
*.elc

# Installed packages
/.cask/

# Recovery directory
/auto-save-list/
# Backup directory
/.backup/
# Tutorial states
/tutorial/

# Various caches
/var/
/frame-restore-parameters
/history
/places
/recentf
/ido.last
/semanticdb/
/.smex-items
/.mc-lists.el
/.org-id-locations
/projectile-bookmarks.eld
/projectile.cache
/bookmarks
/.emacs.desktop*
/session.*
/url/
/tramp
/tramp-auto-save

# Private files
/stante-ical-urls